services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
    volumes:
      - ./frontend:/app:cached
      - frontend_node_modules:/app/node_modules 
    env_file:
      - ./frontend/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
    tty: true
    stdin_open: true

  backend:
    build: ./backend
    container_name: mml-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

volumes:
  pgdata:
  frontend_node_modules: